.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70px;
}
input{
    color: brown;
    font-size: medium;
    height: 20px;
}

h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: blue;
}

button{
    min-width: 120px;
}
p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: rgb(3, 130, 58);
    font-size: 20px;

}
